p {
  color:gray;
}


.bg {
    width: 100%;
    z-index: 0;
    height: 320px;
}

.bg2 {
    width: 100%;
    z-index: 0;
    height: 270px;
    border: 5px;
    border-style:dashed;
    border-color: blue;

}

.row {
  background-color: yellow;
}

html {
  background-color: #707070;
}


.pad1 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.carousel {
  text-align:center;
  padding: 2px;
}

body {
  padding-top: 70px;
}
